.gifka {
   margin: 0 auto;
   margin-top: 80px;
   width: 95%;
   margin-bottom: 100px;
   text-align: center;
}
.gifka__title1{
   font-size: 25px;
}
.gifka__title2{
   font-size: 40px;
}
.main__video{
   text-align: center;
}