.imac{
   text-align: center;
}
.main__imac{
   text-align: center;
   letter-spacing: inherit;
}
.imac__title{
   font-size: 70px;
   font-weight: 800;
   color: #1d1d1f;
   margin-bottom: 10px;
}
.imac__title1{
   font-size: 28px;
   font-weight: 800;
   color: #1d1d1f;


}
.imac__par{
   color: #86868b;
   font-weight: 800;
}
.imac__link{
   color: #06c;
   font-size: 21px;
   font-weight: 800;
}

.imac__img{
   width: 75%;
   margin-left: 200px;
}
